.input-container span {
    left   : calc(1rem - 3px);
    opacity: 0;
}

.input-container input:focus+span,
.input-container input.has-value+span {
    opacity: 1;
}

.input-container input:focus::placeholder {
    opacity: 0;
}